{% load static %}
<html>
    <head>
        <title>contact us</title>
        <link rel="stylesheet" href="{% static 'style4.css' %}">
        <body>
                <h1>in case of any query contact the following:</h1>
                <h3>Team Leader:<br></br>teena.sapra13@gmail.com</h3>
                <h3>Team members:<br></br>radhika.rajdev.rr@gmail.com<br>pushkar.jain@gmail.com<br>piyushchawla2307@gmail.com<br>architgupta0609@gmail.com</h3>
                <div class="home">
                    <a href="{{ request.META.HTTP_REFERER}}">
                        <input type="button" name="" value="home">
                    </a>
                </div>
        </body>
    </head>
</html>