{% load static %}
<html>
    <head>
        <title>

        </title>
        <link rel="stylesheet" type="text/css" href="{% static 'style3.css' %}">


        <body>
                <dev class="wrap">
                        <div class="sidebar">

                            <h1>Dashboard</h1>
                            <ul>
                                <li><a href="dashboard">Home</a></li>
                                <li><a href="test">Test</a></li>
                                <li><a href="history">History</a></li>
                                <li><a href="contactus">Contact Us</a></li>
                            </ul>

                        </div>



                    <section class="main">
                            <i>Welcome</i>
                    </section>
                </dev>

        </body>
    </head>
</html>